.card .x-panel-body {
   background-color: #ccc;
}

.card1 .x-panel-body {
   background-color: #eee;
}

.card2 .x-panel-body {
  background-color: #5E99CC;
}

.card3 .x-panel-body{
  background-color: #759E60;
}

.card4 .x-panel-body{
  background-color: #9C744F;
}
